link(rel="stylesheet", type="text/css", href="/stylesheets/confirm.css")

.container
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href="/") Vote
        ul.nav
          li
            a(href="/input") 質問を作成する

  br
  br

  .container
    form.well(method="post", action="/regist")
      h2 質問内容を確認してください。
      hr
      
      fieldset
      each val, key in items
        if val.length > 0
          case key
            when "username"
              label ニックネーム
              input.input-block-level(type="text", id="nickname", name="nickname", value="#{val}", readonly="readonly")
            when "title"
              label 質問のタイトル
              input.input-block-level(type="text", id="title", name="title", value="#{val}", readonly="readonly")
            when "text"
              label 質問の詳細
              textarea.input-block-level(rows="15", id="text", name="text", readonly="readonly") #{val}
            when "choice1"
              label 選択肢1
              input.input-block-level(type="text", id="choice1", name="choice1", value="#{val}", readonly="readonly")
            when "choice2"
              label 選択肢2
              input.input-block-level(type="text", id="choice2", name="choice2", value="#{val}", readonly="readonly")
            when "choice3"
              label 選択肢3
              input.input-block-level(type="text", id="choice3", name="choice3", value="#{val}", readonly="readonly")
            when "choice4"
              label 選択肢4
              input.input-block-level(type="text", id="choice4", name="choice4", value="#{val}", readonly="readonly")
            when "choice5"
              label 選択肢5
              input.input-block-level(type="text", id="choice5", name="choice5", value="#{val}", readonly="readonly")

      hr
      button.btn-large.btn-primary(type="submit") 送信する

  hr

  .footer
    p &copy; Gishhub 2013
