link(rel="stylesheet", type="text/css", href="/stylesheets/display.css")

.container
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href="/") Vote
        ul.nav
          li
            a(href="/input") 質問を作成する

  br
  br

  .container
    .well
      alert.alert-error
        h1 投票に成功しました。
      hr

      h2 #{items.title}
      hr

      label 質問者
      h4 #{items.username} さん
      br
      label 質問内容
      h3 #{items.text}
      hr

      - items.choices.forEach(function(choice){
        strong #{choice.choice}
        span.pull-right #{choice.vote}%
        case choice.id
          when 1
            .progress.progress-danger.progress-striped.active
              .bar(style="width: #{choice.vote}%;")
          when 2
            .progress.progress-info.progress-striped.active
              .bar(style="width: #{choice.vote}%;")
          when 3
            .progress.progress-success.progress-striped.active
              .bar(style="width: #{choice.vote}%;")
          when 4
            .progress.progress-striped.active
              .bar(style="width: #{choice.vote}%;")
          when 5
            .progress.progress-warning.progress-striped.active
              .bar(style="width: #{choice.vote}%;")
      - })
 
      hr
      font(size=5)
        質問に戻る場合は 
        a(href="http://www.gish.tokyo.jp:3000/display?qid=#{items.qid}") こちら

  hr

  .footer
    p &copy; gish 2013